* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#start_button {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  background-color: #343b34;
  opacity: 0.8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 100px;
}

.title {
  display: flex;
  position: absolute;
  width: 80vw;
  height: 100vh;
  color: #f7f7f7;
  font-size: 2rem;
  background-image: url("lastwar_title.jpg");
  background-size: contain; /* 이미지가 왜곡되지 않도록 설정 */
  background-position: center;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2; /* canvas 위에 오도록 설정 */
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  position: relative;
  width: 80vw;
  height: 100vh;
  max-width: 400px;
  max-height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 700px;
  display: block;
  background-color: #c0c0c0;
}

#result_screen {
  display: none;
  position: fixed;
  width: 40vw;
  height: 80vh;
  color: #f7f7f7;
  font-size: 1rem;
  /* background-image: url("lastwar_result.jpg"); */
  background-color: rebeccapurple;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#result_screen ol {
  list-style: none;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}

#restart_button {
  width: 80%;
  height: 100px;
  margin: auto;
}

#text_box {
  display: block;
  width: 100%;
}

#btn-box {
  text-align: center;
  align-items: center;
}
