html, body{
    margin: 0;  
    padding: 0; 
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 10%;
    background-color: gainsboro;
}
nav{
    width: 15%;
    height: 80%;
    position: relative;
    float: left;
    background-color: rgb(255, 255, 255);
}
section{
    width: 70%;
    float: left;
    position: relative;
    background-color: rgb(67, 197, 180);
}

aside{
    width: 15%;
    height: 80%;
    float: right; 
}

footer{
    width: 100%; height: 50px;clear: both;background-color: gainsboro;
}

#head {
    width: 60%;
    height: 100%;
    background-color: gainsboro;
    margin-left: 20%;
}

#title {
    border-bottom: 1px solid gray;
    position: fixed"

}

.main {
    margin: 30px 5% 10px;
    width: 90%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;

}

.main_img {
    width:90%;
    height:80%;
    border-radius: 30px;
    
}

.main_nav {
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    float: left;
}

.main_content {
    width: 50%;
    height: 100%;
    background-color: #fff;
    float: right;
    border-radius: 30px;
}

.button {
    width: 80%;
    height: 30%;
    margin-bottom: 10px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 30px;
}
.button {
    width: 80%;
    height: 30%;
    margin-bottom: 10px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 30px;
}